.NavBar_Container {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.NavBar_Content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px 10px;
}

.NavBar_Logo_Content {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.NavBar_Logo_Image {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.Navbar_Options_Content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.NavBar_Options_Text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #717E99;
    margin: 0px;
    padding: 0px;
}